.user-table-wrapper1{
  position: absolute;
  z-index:-2;
  right:2vw;
  top:20vh;
  width:70vw;
}
#table-filter{
  margin-left:2vw;
}
#gray{
  background-color: #658585;
}
.to-blue{
  
  color:white;
  font-weight: bold;
  border-bottom: 2px solid rgb(139, 136, 136);
}
footer{
  
  width: 100%;
  height:25px;
  margin-bottom:0px;
  text-align: center;
  background-color: rgb(205, 206, 207);
  color:rgb(15, 107, 143);
}
.separate{
  z-index:1;
  height:2vh;
}
.separate5{
  z-index:1;
  height:37vh;
}
.separate4{
  z-index:1;
  height:3vh;
}
.separate1{
  z-index:1;
  height:33vh;
}
.separate2{
  z-index:1;
  height:33vh;
}
.separate3{
  z-index:1;
  height:22vh;
}
.user-profile {
    position:fixed;
    width: 25vw;
    height:100vh;
    background:#2A363F;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .user-profile2 {
    position:static;
    width: 100vw;
    height:48vh;
    background:#efefef;

    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .user-profile >.username, .user-profile2 >.username  {

    height:12px;
    margin-bottom: 3vh;
    color: #658585;
    font-size: 1.53em;
   font-weight: bold;
  }
  .details2{
    border:none;
    margin-right:2px;
    margin-top:2px;
    padding:2px;
    background-color: #0da3d6;
    color:#efefef;
  }
  .user-profile > .bio,.user-profile2 > .bio{

    display: inline-block;

    margin-bottom:1.5rem;
    color: whitesmoke;
    font-size: .87em;
      
  }

  .user-profile >.avatar,.user-profile2 > img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 10rem;
    width: 10rem;
    border-radius:50%;
  }
  .update a{
    color:#efefef;
    padding:.3rem;
    border-radius:3px;
    margin-top:5px;
    background-color:#0da3d6;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.mentee-table-wrapper{
  margin-bottom: 4vh;
}

  .user-table-wrapper1 h1,.mentor-table-wrapper h1,.mentee-table-wrapper h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
  }
  table{

    width:70vw;
    table-layout: fixed;
    margin-bottom: 4vh;
  }
  .tbl-header,.tbl-header2{
    background-color: rgba(255,255,255,0.3);
    width:70vw;
   }
  .tbl-content,.tbl-content2{
    height:auto;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    width:70vw;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

  .details a{
    background-color: #0da3d6;
    color:#efefef;
    font-size:10px;
    padding:5px 7px;
    width: 4.5rem;
  }

  .notification_wrapper{
    position: absolute;
    z-index:1;
    display:flex;
    top:10vh;
    right:4vw;
    cursor:pointer;
  }
  .bell{

  height:30px;
  filter:invert(1);
  object-fit: scale-down;
  margin-left:2rem;

  }
  .notification_wrapper p{
    width:60px;
    color:#efefef;

  }
  .message-card{
    opacity:0;  
    min-height:100px;
    min-width: 300px;
    background-color: #efefef;
    clip-path:polygon(0% 25%,80% 25%,85% 10%,90% 25%,100% 25%,100% 100%,0% 100%);
    transition: opacity ease-in-out .5s;
  }
  .message-cardShow{
    opacity:1;
  }
  .message-card-wraper{
    filter:drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.5));
    position:absolute;
    z-index:0;
    top:1.3vh;
    right:2vw;
   
  }
  .notifiDisplay{
    padding:15% 1% 2% 5%;
  }
  .notifiDisplay ul{
    list-style-type:none;
  }


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
  list-style-type: none;
}
html{
  font-size:100%;
}
body{
  
  background-color: #efefef;
  
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
  height: auto;

}

 a{
    text-decoration: none;

 }

 #logo{
    color:rgb(236, 231, 231);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:18px;
}
.to-center{
  text-align:center;
}
.to-left{
  text-align:left;
}
nav{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:fixed;
    z-index:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 8vh;
    background: #111;
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.31) 57%,rgba(0,0,0,0) 100%);*/

}

 .nav-links{
   display: flex;
   list-style-type:none;
   justify-content: space-around;
   width:40%;

 }

 .nav-links li a{
    color: white;
    font-size:14px;
    text-transform: capitalize;
     padding: 10px 30px;
     margin-right: 4px;
 }
 .nav-links li a:hover{

     background-color:rgba(0, 0, 0, 0.5);
     color:whitesmoke;
     


 }

 .burger{
  display: none;
  cursor:pointer;

 }
.burger div{
    height:3px;
    width:26px;
    background-color: beige;
    margin:4px;
    transition: all ease 0.5s;
}
/* //////////////////////////////////////// end of nav bar////////////////////////////////////////////////////////////*/

.separator{
    z-index: 1;
    min-height:8vh;
}
/* //////////////////////////////////////// home page////////////////////////////////////////////////////////////*/
.index-banner{
  padding-top:10vh;
  width: auto;
  max-width:100vw;
  height:auto;
  background-image:linear-gradient(to bottom, rgba(0,0,0,.9) 0%,rgba(0,0,0,0.31) 57%,rgba(0,0,0,.7) 100%), url(../imgs/mentor.jpg);
  background-color: #2A363F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom:2vh;

}
.index-banner h1{
  color:whitesmoke;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:20px;
  margin-left:10%;

}
.index-banner p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:whitesmoke;
  width:40%;
  font-size:18px;
  font-weight: lighter;
  margin-left:10%;
}
.separator-1{
 height:10vh;
 margin-bottom:2vh;
}
.signup{
  margin-bottom: 2vh;
}
.signup a{
  padding:1vh 10vw;
  cursor: pointer;
  font-weight:500px;
  font-size:14 px;
  border-radius:4px;
  letter-spacing:3px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(195, 192, 192);
  border:2px solid wheat;
}
.signup a:hover{
background:#0da3d6;
border:transparent;
}
.index-banner2{
  width: 100vw;
  display:flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.index-banner2 div img{
  height:auto;
  width: auto;
  max-width:100%;

}
.section2{
  width:100vw;

}
.section2 h1{
  color:rgb(0, 0, 0);
  margin:4px auto;
  text-align: center;
}
.section2 p{
  margin:4px auto;
  width: 50%;
  text-align: left;
  color:#111;
  padding: 0px 5px;
}

.index-banner2 div{
width:25vw;


}
/* //////////////////////////////////////// end of homepage////////////////////////////////////////////////////////////*/

/* login page*/
#login-page{
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
  height:auto;
}
.login{
    text-align: center;
    padding:1vh 0px;
    margin:10vh auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color:white;
}

.login h2{
  color: #111;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 20px;
}
button{
  border-radius:2px;
}
.login form div{
    margin:4vh;
}

#login-btn a:hover{
  background-color:#6D7781;
}
#login-btn a{
  border-radius:4px;
  background-color: #0da3d6;
  margin-top:5px;
  padding:10px 8vw;
  width:100%;
  
  color:#efefef;
  text-transform: uppercase;
  letter-spacing:2px;
}
.login input[type="text"], [type="password"] {
  
  width: 100%; /* Full width */
  padding:8px; /* Some padding */
  margin:5px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
#sgup a{
     padding-left: 10px;
     color:#0da3d6;
     text-decoration: underline;
 }
 #sgup a:hover{
  color:#6D7781;
 }
 .login input[type=text]:hover,input[type="password"]:hover {
  border: 1px solid #0da3d6;
}

/* //////////////////////////////////////// end of login////////////////////////////////////////////////////////////*/



/* contact page*/

.contact-page{
  background-color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height:100vh;
  width: 100vw;
}
.form-area{
  position: relative;
  top:10vh;
  z-index:-2;
  background-color: white;
  margin:0 auto;
  width: 50vw;
  height:65vh;
  display:flex;
  flex-direction: row-reverse;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.form-area h1{
  padding:10px;
  color:#111;
  font-size:1.8rem;
  margin-left:-12px;
  margin-top:10px;
}
.form-area div{
width:23vw;
}

.fields input[type=text], select, textarea {
  width:20vw; /* Full width */
  padding:5px; /* Some padding */
  margin:10px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
.fields textarea{
  width: 20vw; /* Full width */
  padding:5px; /* Some padding */
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px; 
}
.fields textarea:hover,input[type=text]:hover, select:hover {
 border: 1px solid  #0da3d6;
}
/* Style the submit button with a specific background color etc */
.fields input[type=submit] {
  background-color: #0da3d6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

/* When moving the mouse over the submit button, add a darker green color */
.fields input[type=submit]:hover {
  background-color: #b7bfc2;
}

.information h2{
 margin-top:20vh;
 font-size:15px;
}
.information p{
  font-size:15px;
 }
 .information a{
   color:#0da3d6;
   text-decoration: underline;
 }
/* //////////////////////////////////////// end of contact////////////////////////////////////////////////////////////*/

/*about us*/
#about-page{
  overflow-y: hidden;
  background-color: #efefef;
}


.rectangles{
  display: grid;
  grid-template-columns:repeat(4,2.5fr);
  grid-template-rows: 1.4vh;
}
.rectangle1{
  background-color: rgb(29, 59, 139);
}
.rectangle2{
  background-color: rgb(52, 84, 172);
}
.rectangle3{
  background-color: rgb(76, 117, 192);
}
.rectangle4{
  background-color: rgb(105, 133, 226);
}
.contents1{
 
  background-repeat: no-repeat;
  background-size:cover;
  height:auto;
  width:auto;
  max-width: 100vw;
}
.separator-2{
  height: 5vh;
}
.contents1 h1{
 
  margin-top:15vh;
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:3rem;
  text-transform: uppercase;
  color:#111;
}
 .about p{
   width: 40vw;
   margin:4vh auto;
   color:#111;
 }
 /* //////////////////////////////////////// end of about us////////////////////////////////////////////////////////////*/



/*more details*/
.details-mentor {
 
  width: 50vw;
  height:auto;
  margin:10vh auto;
 display: flex;
 flex-direction: row;
}

.details-mentor div{
  padding:0px 1vw;
  width: 25vw;
  height: auto;
}
.photo> img{
  margin-top:2vh;
  border-radius: 50%;
  left:10%;
  height: 200px;
  width: 200px;
}

.photo{

  background-color: #efefef;
}
.card_content{
  margin-left:-20px;
}


.details-mentor .card_content {
  background:#efefef;
}

.details-mentor .card_title {
  color: rgb(60, 154, 208);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top:4px;
  text-transform: capitalize;
  margin: 0px;
  text-align: left;
}

.details-mentor .card_text {
   width: 25vw;
  color: #111;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  margin-bottom:4px;
}
.btn{
  margin-top:20px;
  margin-left:-10px;
}
.btn >a{
  margin-top:10px;
  background-color:#0da3d6;
  color:whitesmoke;
  padding:10px;
  border-radius:4px;
  cursor:pointer;
}
.btn >a:hover{
  background-color: #0981a8;
}
h1, h3{
  text-transform: uppercase;
  font-weight: normal;
  color:#efefef;
  margin-bottom: 2vh;
}

.request li{
    background-color:rgb(56, 71, 82);

    margin-bottom: 2vh;
}

.request li p{
  font-size: 15px;
  margin-bottom: 7px;
  margin-left:20px;
  color:#efefef;
}

.request li > button{
margin-left: 4%;
padding:5px;
color:#efefef;
border:none;
background-color: #0da3d6;
}
.signup-title label{
  font-size:1.5rem;
  color:#111;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box {
  margin-top: 1.3rem;
  padding: .6rem 1rem;
  margin-bottom: 1rem;
  background-color: white;
  width: 25vw;
  margin-left: auto;
  margin-right:auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.main-sign{
  width:100vw;
  height:100vh;
}
.box input[type=text], .box input[type=email],.box input[type=password] ,.box textarea {
  width: 100%; /* Full width */
  padding:5px; /* Some padding */
  margin:10px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
.box textarea:hover,.box input[type=text]:hover ,.box input[type=password]:hover ,.box input[type=email]:hover{
 border: 1px solid  #0da3d6;
}
.box >span{
  color:#efefef;
  margin-left:10px;
  margin-right:5px;
  margin-bottom:10px;
}
.box input[type=radio]{
  margin:0 5px;
}
.btn-sgn{
  background-color: #0da3d6;
  width:100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1.2rem;
}
.btn-sgn a{
  color:#efefef;
  text-transform:uppercase; 
}
.user > span{
  margin:30px;
  color:#111;
}

 /* //////////////////////////////////////// media queries////////////////////////////////////////////////////////////*/



/*for tiny phonesss*/
@media only screen and (max-width:321px){
  .index-banner{
    padding-top: 3vh;

  }
  .index-banner h1{
    font-size:1.2rem;
    margin-left:15%;

  }
  .to-blue{
    display:none;
  }
  .index-banner p{
    width:50%;
    margin-left:25%;
  }
  .index-banner2{
    width: 100vw;
    display:grid;
    grid-template-columns: 100vw;

  }


  .index-banner2 div{
    width:100vw;
    margin:4px;

  }
  /* queries for login page*/
  #login-page{
    background:white;
    
  }
  .login{ 
      margin:15vh auto;
      box-shadow:none;
  }

  #login-btn a{
    
    margin-top:5px;
    padding:10px 32vw; 
  }
  
 /* queries for about page*/
.contents1 h1{
  position: relative;
  top:5vh;
}
.about p{
  width: 100vw;
  margin:4vh 0px;
  padding:0px 2vw;
}
/* queries for contact page*/
.contact {
  width: 100vw;
  margin:4vh auto;
  padding:0px;
 display: flex;
 flex-direction:column;
}
.contact div{
  padding:0px 5vw;
  margin:0 auto;
  width: 100vw;
  height:auto;
}
.contact input[type=text], select, textarea {
  width: 80vw; /* Full width */
  padding:10px; /* Some padding */
  margin:1vh auto;
}
.logo2 p{
  position:static;
  color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.3rem;
}
.logo2{
  border-bottom: 1px solid #435160;
  border-right: none;
}
.message-card{
  min-height:50px;
  min-width: 100px;
  background-color: #efefef;
  clip-path:polygon(0% 25%,80% 25%,85% 10%,90% 25%,100% 25%,100% 100%,0% 100%);
}
.details-mentor {
  margin:0;
  width: 100vw;
  height:80vh;
 flex-direction:column;
 box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-mentor div{
  width: 100vw;
  height: 40vh;
}


.details-mentor .card_text {
   width: 80vw;
  font-size: .975rem;  
  font-weight: 200;
}

.details-mentor button{
  padding:5px;
}
.details-mentor button:hover{
  background-color: #6ED9A0;

}
.tabs .tab>label {
  
  padding: 6px 21px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #303030;
}


.form-area{
  position: relative;
  top:5vh;
  background-color: white;
  margin:0 auto;
  width: 100vw;
  height:auto;
  display:flex;
  flex-direction: column-reverse;
  box-shadow:none;
}

.form-area div{
width:100vw;
}

.fields input[type=text], select, textarea {
  width:80vw; /* Full width */
  padding:5px; /* Some padding */
  margin:10px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
.fields textarea{
  width: 80vw; /* Full width */
  padding:5px; /* Some padding */
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px; 
}
.fields textarea:hover,input[type=text]:hover, select:hover {
 border: 1px solid  #0da3d6;
}
/* Style the submit button with a specific background color etc */
.fields input[type=submit] {
  background-color: #0da3d6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fields{
  padding: 0 10vw;
}
.information{
  padding: 0 10vw;
}
/* When moving the mouse over the submit button, add a darker green color */
.fields input[type=submit]:hover {
  background-color: #b7bfc2;
}

.information h2{
 margin-top:20vh;
 font-size:20px;
}
.information p{
  font-size:20px;
 }
 .information a{
   color:#0da3d6;
   text-decoration: underline;
 }


}


/*  smart phones  */
@media only screen and (min-width:321px)and (max-width:480px){
  .index-banner{
    padding-top: 5vh;

  }
  .index-banner h1{
    font-size:12px;
    margin-left:15%;

  }
  
  .index-banner p{
    width:50%;
    margin-left:25%;
  }
  .separator-2{
    height: 10vh;
  }
  .signup{
    z-index: -100px;
    top:20%;
    left:40%;
  }
  .index-banner2{
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(2,50vw);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .index-banner2 div img{
    height: auto;
    width:auto;
    max-width:100%;
  }
  .index-banner2 div{
    width:50vw;

  }
  .login form div{
    margin:50px;
}
.about p{
  width: 100vw;
  margin:4vh 0px;
  padding:0px 2vw;
 }
 /* queries for contact page*/
.contact {
  width: 100vw;
  margin:4vh auto;
  padding:0px;
 display: flex;
 flex-direction:column;
}
.contact div{
  padding:0px 5vw;
  margin:0 auto;
  width: 100vw;
  height:auto;
}
.contact input[type=text], select, textarea {
  width: 80vw; /* Full width */
  padding:10px; /* Some padding */
  margin:1vh auto;
}
.logo2 p{
  position:static;
  color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.3rem;
}
.logo2{
  border-bottom: 1px solid #435160;
  border-right: none;
}
.details-mentor {
  margin:0;
  width: 100vw;
  height:80vh;
 flex-direction:column;
 box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-mentor div{
  width: 100vw;
  height: 40vh;
}


.details-mentor .card_text {
   width: 80vw;
  font-size: .975rem;  
  font-weight: 200;
}

.details-mentor button{
  padding:5px;
}
.details-mentor button:hover{
  background-color: #6ED9A0;

}
#login-page{
  background:white;
  ;
}
.login{
   
    margin:15vh auto;
    box-shadow:none;
 
}


#login-btn a{
  border-radius:4px;
  background-color: #0da3d6;
  margin-top:5px;
  padding:10px 27vw;

}
.form-area{
  position: relative;
  top:5vh;
  background-color: white;
  margin:0 auto;
  width: 100vw;
  height:auto;
  display:flex;
  flex-direction: column-reverse;
  box-shadow:none;
}

.form-area div{
width:100vw;
}

.fields input[type=text], select, textarea {
  width:80vw; /* Full width */
  padding:5px; /* Some padding */
  margin:10px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
.fields textarea{
  width: 80vw; /* Full width */
  padding:5px; /* Some padding */
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px; 
}
.fields textarea:hover,input[type=text]:hover, select:hover {
 border: 1px solid  #0da3d6;
}
/* Style the submit button with a specific background color etc */
.fields input[type=submit] {
  background-color: #0da3d6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fields{
  padding: 0 10vw;
}
.information{
  padding: 0 10vw;
}
/* When moving the mouse over the submit button, add a darker green color */
.fields input[type=submit]:hover {
  background-color: #b7bfc2;
}

.information h2{
 margin-top:20vh;
 font-size:20px;
}
.information p{
  font-size:20px;
 }
 .information a{
   color:#0da3d6;
   text-decoration: underline;
 }





 }




 /*small devices plus lanscape phones ,tablets*/
@media screen and (max-width:768px) {

  body{
      overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    z-index:100px;
    left:0px;
    top:40vh;
    height:20vh;
    width:100%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    transform:translateX(-100%);
    transition: transform .5s ease-in ;
}
.nav-links li a:hover{

  background-color:transparent;
  color:#0da3d6;
  border-bottom: none;


}
  .burger{
      display: block;
  }
   .nav-activator {
      transform:translateX(0%);
   }
@keyframes navlinksfade{
from {
   opacity: 0;
   transform:translateX(-50px);
     }
to{
   opacity:1;
   transform:translateX(0px);
}
}
.screen{
  position: absolute;
  z-index:60px;
  top:8vh;
  height:0vh;
  width:100%;
 background-color: rgba(10, 2, 2,.98);
 opacity:0;
 transition: .7s ease-in ;
} 
.screenDisplay{
 opacity:1;
 height:98vh;
}

.toggle .line1{
    transform:  rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
  transform:  rotate(45deg) translate(-5px,-6px);
}

/*homepage*/
.section2 h1{
color:rgb(0, 0, 0);
margin:4px auto;
text-align: center;
}
.section2 p{
width: 100%;

}
/* queries for contact page*/
.contact {
  width: 100vw;
  margin:4vh auto;
  padding:0px;
 display: flex;
 flex-direction:column;
}
.contact div{
  padding:0px 5vw;
  margin:0 auto;
  width: 100vw;
  height:auto;
}
.contact input[type=text], select, textarea {
  width: 80vw; /* Full width */
  padding:10px; /* Some padding */
  margin:1vh auto;
}
.logo2 p{
  position:static;
  color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.3rem;
}
.logo2{
  border-bottom: 1px solid #435160;
  border-right: none;
}
.user-profile {
  position:static;
  margin-top:0vh;
  width: 100vw;
  height:40vh;
}

.user-table-wrapper1{
  z-index:-2;
  right:0vw;
  top:50vh;
  width:100vw;
}

table{
  width:100vw;
  
}
.tbl-header{
  width:100vw;
 }
.tbl-content{
  width:100vw;
}
th{
  padding: 10px 10px;
  font-weight: 300;
  font-size: 10px;
  
}
td{
  padding: 10px;
  font-weight: 200;
  font-size: 10px;
}

.details{
  
  width: 3.5rem;
}
.details-mentor {
  margin:0;
  width: 100vw;
  height:80vh;
 flex-direction:column;
 box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-mentor div{
  width: 100vw;
  height: 40vh;
}


.details-mentor .card_text {
   width: 80vw;
  font-size: .975rem;  
  font-weight: 200;
}

.details-mentor button{
  padding:5px;
}
.details-mentor button:hover{
  background-color: #6ED9A0;

}
.box {
  margin-top: .5rem;
  padding: .6rem 1rem;
  margin-bottom: 1rem;
  background-color: #efefef;
  width: 100vw;
  margin-left: auto;
  margin-right:auto;
 
}
.separator-1{
  height:8vh;
  margin-bottom:1vh;
 }
 .signup{
   margin-bottom: 2vh;
 }
 .signup a{
   padding:1vh 30vw;
   cursor: pointer;
   font-size:14 px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color:rgb(195, 192, 192);
   border:2px solid wheat;
 }
 .section2 h1{
  color:rgb(0, 0, 0);}
/* login page*/
#login-page{
  background: white;
 
}
.login{
    text-align: center;
    padding:1vh 0px;
    margin:18vh auto;
    box-shadow:none;
    background-color:white;
}
#login-btn a{
  
  padding:10px 27vw
}

form{
  height:auto;
}
.login input[type="text"], [type="password"] {
  
  width: 70%; /* Full width */

}
.form-area{
  position: relative;
  top:5vh;
  background-color: white;
  margin:0 auto;
  width: 100vw;
  height:auto;
  display:flex;
  flex-direction: column-reverse;
  box-shadow:none;
}

.form-area div{
width:100vw;
}

.fields input[type=text], select, textarea {
  width:80vw; /* Full width */
  padding:5px; /* Some padding */
  margin:10px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
.fields textarea{
  width: 80vw; /* Full width */
  padding:5px; /* Some padding */
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px; 
}
.fields textarea:hover,input[type=text]:hover, select:hover {
 border: 1px solid  #0da3d6;
}
/* Style the submit button with a specific background color etc */
.fields input[type=submit] {
  background-color: #0da3d6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fields{
  padding: 0 10vw;
}
.information{
  padding: 0 10vw;
}
/* When moving the mouse over the submit button, add a darker green color */
.fields input[type=submit]:hover {
  background-color: #b7bfc2;
}

.information h2{
 margin-top:20vh;
 font-size:20px;
}
.information p{
  font-size:20px;
 }
 .information a{
   color:#0da3d6;
   text-decoration: underline;
 }



}

@media only screen and (min-width:769px)and (max-width:799px){
  #login-page{
    background:white;
    ;
  }
  .login{
     
      margin:24vh auto;
      box-shadow:none;
   
  }
  .login input[type="text"], [type="password"] {
  
    width: 70%; /* Full width */
  
  }
  
  #login-btn a{
    border-radius:4px;
    background-color: #0da3d6;
    margin-top:5px;
    padding:10px 29vw;
  
  }
}
/*from small lapttops t0 large screens*/
@media only screen and (min-width:800px){
  /*login page*/
  .login{
    text-align: center;
    padding:8vw 0px;
    margin:8vh auto;
    height:72vh;
    width:25vw;
    background-color:white;
}
#login-page{
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
  height:auto;
}
.login{
    text-align: center;
    padding:1vh 0px;
    margin:10vh auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color:white;
}

.login h2{
  color: #111;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 20px;
}
button{
  border-radius:2px;
}
.login form div{
    margin:4vh;
}

#login-btn a:hover{
  background-color:#6D7781;
}
#login-btn a{
  border-radius:4px;
  background-color: #0da3d6;
  margin-top:5px;
  padding:10px 8vw;
  width:100%;
  
  color:#efefef;
  text-transform: uppercase;
  letter-spacing:2px;
}
.login input[type="text"], [type="password"] {
  
  width: 100%; /* Full width */
  padding:8px; /* Some padding */
  margin:5px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
#sgup a{
     padding-left: 10px;
     color:#0da3d6;
     text-decoration: underline;
 }
 #sgup a:hover{
  color:#6D7781;
 }
 .login input[type=text]:hover,input[type="password"]:hover {
  border: 1px solid #0da3d6;
}

}
@media only screen and (min-width:800px)and (max-width:1050px){
  .login{
    text-align: center;
    padding:8vw 0px;
    margin:8vh auto;
    height:72vh;
    width:25vw;
    background-color:white;
}
#login-page{
  background: #efefef;
  font-family: 'Open Sans', sans-serif;
  height:auto;
}
.login{
    text-align: center;
    width:60vw;
    padding:10vh 0px;
    margin:10vh auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color:white;
}

.login h2{
  color: #111;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 20px;
}
button{
  border-radius:2px;
}
.login form div{
    margin:4vh;
}

#login-btn a:hover{
  background-color:#6D7781;
}
#login-btn a{
  border-radius:4px;
  background-color: #0da3d6;
  margin-top:5px;
  padding:10px 23vw;
  width:100%;
  
  color:#efefef;
  text-transform: uppercase;
  letter-spacing:2px;
}
.login input[type="text"], [type="password"] {
  
  width: 100%; /* Full width */
  padding:8px; /* Some padding */
  margin:5px auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  background:transparent;
    border: 1px solid rgb(90, 89, 89);
    color:rgb(49, 49, 49);
    font-size: 16px;
}
#sgup a{
     padding-left: 10px;
     color:#0da3d6;
     text-decoration: underline;
 }
 #sgup a:hover{
  color:#6D7781;
 }
 .login input[type=text]:hover,input[type="password"]:hover {
  border: 1px solid #0da3d6;
}


}

@media only screen and (min-width:1050px){
  #login-page{
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    height:auto;
  }
  .login{
      text-align: center;
      padding:8vh 0px;
      margin:10vh auto;
      box-shadow:0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
      background-color:white;
  }
  
  .login h2{
    color: #111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 20px;
  }
  button{
    border-radius:2px;
  }
  .login form div{
      margin:4vh;
  }
  
  #login-btn a:hover{
    background-color:#6D7781;
  }
  #login-btn a{
    border-radius:4px;
    background-color: #0da3d6;
    margin-top:5px;
    padding:10px 8vw;
    width:100%;
    
    color:#efefef;
    text-transform: uppercase;
    letter-spacing:2px;
  }
  .login input[type="text"], [type="password"] {
    
    width: 100%; /* Full width */
    padding:8px; /* Some padding */
    margin:5px auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    background:transparent;
      border: 1px solid rgb(90, 89, 89);
      color:rgb(49, 49, 49);
      font-size: 16px;
  }
  #sgup a{
       padding-left: 10px;
       color:#0da3d6;
       text-decoration: underline;
   }
   #sgup a:hover{
    color:#6D7781;
   }
   .login input[type=text]:hover,input[type="password"]:hover {
    border: 1px solid #0da3d6;
  }
  
}